* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  color: #ffffff;
  background-color: #f15b22;
  border-radius: 5px;
  padding: 20px 36px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}
.btn-white {
  color: #f15b22;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 36px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}
/* Style Start */

nav {
  display: flex;
  padding: 15px 10%;
  justify-content: space-between;
  background-color: #151414;
}

.nav-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.nav-title span {
  color: #f15b22;
}

nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 35px;
}

nav .navitems {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}

.banner {
  display: flex;
  justify-content: end;
  background-image: url("images/banner/banner1.png");
  padding: 0px 10%;
  height: 800px;
  background-repeat: no-repeat;
}

.content-container {
  width: 40%;
  align-self: center;
  text-align: right;
}

.title {
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
  color: #151414;
}

.description {
  margin-top: 24px;
  margin: 24px 0 32px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  color: #444343;
}

/* My Failure Start */

.myfailures {
  padding: 130px 10%;
}
.contaienr {
  display: flex;
  gap: 100px;
}

.myfailures ul li {
  list-style-image: url("images/icons/check.png");
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  text-align: left;
}

.text-container {
  width: 35%;
  align-self: center;
}
.myfailures .title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  text-align: left;
}
.myfailures .description {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}

.myfailures .list {
  margin-left: 24px;
}

/* MyPlan Start */
.myplans {
  padding: 0px 10%;
}

.myplanstitle {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
}
.card-contaienr {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 60px;
}
.card-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #151414;
  margin: 16px 0;
}
.card-dis {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #737272;
}

/* Cta Start */

.cta {
  padding: 130px 10%;
}

.cta-contaienr {
  display: flex;
  background-image: linear-gradient(
      90deg,
      #f15b22 0%,
      rgba(241, 91, 34, 0) 100%
    ),
    url("images/watch.png");
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 60px;
  object-fit: cover;
}

.cta .body {
  align-self: center;
  object-fit: cover;
}

.cta-title {
  text-align: left;
  width: 80%;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  margin-bottom: 24px;
}

/* footer Start */

footer {
  background-color: #151414;
  padding: 130px 10%;
}
.footer-contaienr {
  display: flex;
  justify-content: space-between;
}

footer .left {
  width: 50%;
}
.logotitle {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #f8f8f8;
}
.fdis {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin: 16px 24px 0 0;
}

.contactinfo {
  margin-bottom: 32px;
}
.Socialcontack {
  display: flex;
  gap: 24px;
}

.subscribe {
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}

.right {
  width: 30%;
}
.right input {
  color: #fff;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 8px;
  width: 325px;
  padding: 24px;
}

.sub-wrapper {
  margin: 32px 0px 16px 0px;
}
